<div class="introducing">
  <div class="introducing__container">
    <div class="introducing__logo" #container>
      <img
        class="logo__symbol"
        width="450px"
        height="450px"
        src="assets/images/logos/lofitech_only_symbol.svg"
        alt="LofiTech Símbolo da Logo"
        #logoSymbol
      />

      <img
        class="logo__text"
        width="377px"
        height="218px"
        src="assets/images/logos/lofitech_only_text.svg"
        alt="LofiTech Texto da Logo"
        #logoText
      />
    </div>
  </div>

  <div class="introducing__slogan">
    <h1 class="slogan__text" #sloganText>
      WE GO
      <span class="txt-focus"> ROCK </span>
      <br />THE WEB
    </h1>
  </div>

  <div class="introducing__typing">
    <h3 class="typing__text" #typingText>
      Transforme o seu negócio com
      <span id="typing-element" class="text__write txt-focus"></span>
      <span class="typing__bar">_</span>
    </h3>
  </div>
</div>
